@font-face {
	font-family: 'Lato';
	src: url('/build/Lato-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('/build/Lato-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'Calculator';
	src: url('/build/Calculator.ttf') format('ttf');
}